RewriteEngine On

#--------------------------------- CONCERTS ------------------------------#

    #Get all concerts redirection rule
    RewriteCond %{REQUEST_METHOD} GET
    RewriteRule ^api/concerts$ ./api/api-get-concerts.php [NC,L]

    #Get concert with specific id
    RewriteCond %{REQUEST_METHOD} GET
    RewriteRule ^api/concerts/(.*)$ ./api/api-get-concerts.php?id=$1 [QSA,NC,L]

    #Get concerts with specific organizer id
    RewriteCond %{REQUEST_METHOD} GET
    RewriteRule ^api/organizer/(.*)$ ./api/api-get-concerts-organizer.php?id=$1 [QSA,NC,L]

    #Create new concert redirection rule, accompanied by data in request 
    #e.g. /api/concerts/new (JSON data included)
    RewriteCond %{REQUEST_METHOD} POST
    RewriteRule ^api/concert/new$ ./api/api-create-concert.php [NC,L]

    #Delete concert with specific id redirection rule
    #e.g /api/concert/delete/381
    RewriteCond %{REQUEST_METHOD} POST
    RewriteRule ^api/concert/delete/(.*)/(.*)$ ./api/api-delete-concert.php?uid=$1&cid=$2 [QSA,NC,L]

    #Update user with specific id redirection rule, accompanied by data in request
    #e.g /api/concert/update/381 (JSON data included)
    RewriteCond %{REQUEST_METHOD} POST
    RewriteRule ^api/concert/update ./api/api-update-concert.php [NC,L]

#-------------------------------------------------------------------------#

#-------------------------------- FAVORITES ------------------------------#

    #Get all concerts of user redirection rule (user_id)
    RewriteCond %{REQUEST_METHOD} GET
    RewriteRule ^api/favorites/(.*)$ ./api/api-get-favorites.php?id=$1 [QSA,NC,L]
     
    #Get all concerts of user redirection rule (user_id,concert_id)
    RewriteCond %{REQUEST_METHOD} GET
    RewriteRule ^api/checkfavorite/(.*)/(.*)$ ./api/api-is-favorite.php?uid=$1&cid=$2 [QSA,NC,L]

    #Delete favorite redirection rule (user_id,concert_id)
    RewriteCond %{REQUEST_METHOD} POST
    RewriteRule ^api/favorite/delete/(.*)/(.*)$ ./api/api-delete-favorite.php?uid=$1&cid=$2 [QSA,NC,L]

    #Create favorite of user redirection rule (user_id,concert_id)
    RewriteCond %{REQUEST_METHOD} POST
    RewriteRule ^api/favorite/new$ ./api/api-create-favorite.php [NC,L]

#-------------------------------------------------------------------------#


#----------------------------- NOTIFICATIONS -----------------------------#
    #Create notification for user redirection rule (JSON data in Request Body)
    RewriteCond %{REQUEST_METHOD} POST
    RewriteRule ^api/notifications/new$ ./api/api-create-notification.php [NC,L]
    #-------------------------------------------------------------------------#


    